<a href="/diary/new">Add a new entry</a>

<table>
    <tr>
        <th>Date</th>
        <th>Exercise</th>
        <th>Weight</th>
        <th>Sets x Reps</th>
        <th>Notes</th>
    </tr>

    <% history.each do |entry|%>
    <tr>
        <td> <%= entry['date'] %>   </td>
        <td> <%= entry['exercise'] %> </td>
        <td> <%= entry['weight'] %></td>
        <td> <%= entry['sets']%> X <%= entry['reps'] %> </td>
        <td> <%= entry['notes'] %> </td>
    </tr>
    <% end %>
</table>